<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525626786878-kb0g3cgkld0u77tth20m9q42155k0g5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525626786878-kb0g3cgkld0u77tth20m9q42155k0g5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAC60o00FR3LDFo5frSTL0hIVIdxVPMa_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>525626786878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrinal.Quote-Hari-Ini</string>
	<key>PROJECT_ID</key>
	<string>quote-hari-ini</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-hari-ini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525626786878:ios:272b3e0d58d0f68e7afd6f</string>
</dict>
</plist>